html {
    background-color: #000000;
}

/*############################################################# header ######################################################*/

.name {
    text-align: center;
}

.menu {
    color: rgb(115, 238, 115);
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 280px;
    width: 780px;
    text-decoration: none;
}

.menu li:hover {
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s;
}

.item-1 {
    text-decoration: none;
    color: rgb(115, 238, 115);
}

.item-2 {
    text-decoration: none;
    color: rgb(115, 238, 115);
}

.item-3 {
    text-decoration: none;
    color: rgb(115, 238, 115);
}

.item-4 {
    text-decoration: none;
    color: rgb(115, 238, 115);
}

.item-5 {
    color: red;
    text-decoration: none;
}

.music {
    color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    font-size: 45px;
}

/*######################################################## music list ########################################################*/

.music-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.song-1 {
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.song-1:hover {
    opacity: 35%;
    transition: 0.4s;
}

.song-2 {
    padding-right: 30px;
}

.song-2:hover {
    opacity: 35%;
    transition: 0.4s;
}

.song-3 {
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.song-3:hover {
    opacity: 35%;
    transition: 0.4s;
}

.song-4 {
    padding-right: 30px;
}

.song-4:hover {
    opacity: 35%;
    transition: 0.4s;
}

.song-5 {
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.song-5:hover {
    opacity: 35%;
    transition: 0.4s;
}

.song-6 {
    padding-right: 30px;
}

.song-6:hover {
    opacity: 35%;
    transition: 0.4s;
}

.song-7 {
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.song-7:hover {
    opacity: 35%;
    transition: 0.4s;
}

.song-8 {
    padding-right: 30px;
}

.song-8:hover {
    opacity: 35%;
    transition: 0.4s;
}

/*######################################################## social media ####################################################*/

.social-media {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fa-facebook {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-facebook:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-twitter {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-twitter:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-instagram {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-instagram:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-music {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-music:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-youtube {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-youtube:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

/*############################################################# footer ######################################################*/

.footer {
    border-top: 1px solid rgb(51, 51, 51);
    text-align: center;
}

.span-1 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 20px;
    padding-right: 40px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-1:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-2 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-2:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-3 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-3:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-4 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-4:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-5 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-5:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-6 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-6:hover {
    color: #FFFFFF;
    transition: 0.3s;
}