html {
    background-color: #000000;
    /* overflow-x: hidden; */
}


/*############################################################# header ######################################################*/

.name {
    text-align: center;
}

.name-2 {
    display: none;
}

.menu {
    color: rgb(115, 238, 115);
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.menu li:hover {
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s;
}

.item-1 {
    text-decoration: none;
    color: rgb(115, 238, 115);
    padding-left: 110px;
}

.item-2 {
    text-decoration: none;
    color: rgb(115, 238, 115);
    padding-left: 110px;
}

.item-3 {
    text-decoration: none;
    color: rgb(115, 238, 115);
    padding-left: 110px;
}

.item-4 {
    text-decoration: none;
    color: rgb(115, 238, 115);
    padding-left: 110px;
}

.item-5 {
    color: red;
    text-decoration: none;
    padding-left: 110px;
}

/*########################################################### sign up ##########################################################*/

.subscribe {
    color: #7ad75d;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    font-size: 43px;
    font-weight: bold;
}

.email-subscribtion {
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 14px;
    text-align: center;
}

.billie-checkbox {
    text-align: center;
}

#billie-eilish {
    text-align: center;
}

#billie-label {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    font-family: "Arial";
    font-weight: bold;
}

.submitting {
    text-align: center;
    padding-top: 30px;
}

.form-submit {
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 13px;
    text-align: center;
}

.music-group {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.music-group:hover {
    text-decoration: underline;
}

.center-button {
    text-align: center;
    size: 10vw;
}

.subscribe-button {
    text-decoration: none;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    text-align: center;
    margin-left: 70px;
    font-size: 35px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    position: relative;
    right: 35px;
    top: 30px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.subscribe-button:hover {
    color: #000000;
    background-color: #FFFFFF;
    transition: 0.5s;
}

/*######################################################## social media ####################################################*/

.social-media {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 50px;
}

.fa-facebook {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-facebook:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-twitter {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-twitter:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-instagram {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-instagram:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-music {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-music:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-youtube {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-youtube:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

/*############################################################# footer ######################################################*/

.footer {
    border-top: 1px solid rgb(51, 51, 51);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.span-1 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 40px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-1:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-2 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-2:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-3 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-3:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-4 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-4:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-5 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-5:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-6 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-6:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

/*############################################################### media query #######################################################*/

@media screen and (max-width: 1274px) {
    .footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .span-6 {
        padding-top: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .name-2 {
        padding-left: 380px;
        position: relative;
        top: 40px;
        right: 375px;
        display: initial;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .name {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 0px;
        top: 40px;
        padding-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .fa-facebook {
        font-size: 33px;
    }

    .fa-twitter {
        font-size: 33px;
    }

    .fa-instagram {
        font-size: 33px;
    }

    .fa-music {
        font-size: 33px;
    }

    .fa-youtube {
        font-size: 33px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        line-height: 10px;
        font-size: 10px;
        padding-left: 40px;
    }

    .span-1 {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .span-2 {
        padding-bottom: 15px;
    }

    .span-3 {
        padding-bottom: 15px;
    }

    .span-4 {
        padding-bottom: 15px;
    }

    .span-5 {
        padding-bottom: 6px;
    }

    .span-6 {
        padding-bottom: 15px;
        margin-right: 18px;
    }
}

@media screen and (max-width: 486px) {
    .fa-facebook {
        font-size: 30px;
    }

    .fa-twitter {
        font-size: 30px;
    }

    .fa-instagram {
        font-size: 30px;
    }

    .fa-music {
        font-size: 30px;
    }

    .fa-youtube {
        font-size: 30px;
    }
}