html {
    background-color: #000000;
}

/*############################################################ header ###########################################################*/

.name {
    text-align: center;
}

.name-small {
    display: none;
}

.menu {
    color: rgb(115, 238, 115);
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 280px;
}

.menu li:hover {
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s;
}

.item-1 {
    position: relative;
    left: 75px;
}

.item-2 {
    position: relative;
    right: 25px;
}

.item-3 {
    position: relative;
    right: 145px;
}

.item-4 {
    position: relative;
    right: 240px;
}

.item-5 {
    color: red;
    position: relative;
    right: 350px;
}

.img {
    text-align: center;
    padding-bottom: 60px;
}

/*########################################################### concerts ########################################################*/

.song-name {
    text-align: center;
}

.concert-1 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-2 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-3 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-4 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-5 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-6 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-7 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-8 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-9 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-10 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-11 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-12 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-13 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-14 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-15 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-16 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-17 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-18 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-19 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-20 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-21 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-22 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-23 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-24 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-25 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-26 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-27 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

/*########################################################### social media #########################################################*/

.social-media {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fa-facebook {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-facebook:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-twitter {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-twitter:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-instagram {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-instagram:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-music {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-music:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-youtube {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-youtube:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

/*############################################################# footer #########################################################*/

.footer {
    border-top: 1px solid rgb(51, 51, 51);
    text-align: center;
}

.span-1 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 24px;
    padding-right: 40px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-1:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-2 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 12px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-2:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-3 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 12px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-3:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-4 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 12px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-4:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-5 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 12px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-5:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-6 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    position: relative;
    top: 12px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-6:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

/*############################################################# media query ####################################################*/

@media screen and (max-width: 1308px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }

    .span-6 {
        padding-left: 0px;
    }
}

@media screen and (max-width: 1023px) {
    .name {
        display: none;
    }

    .name-small {
        display: initial;
        padding-left: 320px;
    }

    .menu {
        display: block;
    }
}