html {
    background-color: #000000;
}

/*############################################################# header ######################################################*/

.name {
    text-align: center;
}

.name-2 {
    display: none;
}

.menu {
    color: rgb(115, 238, 115);
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.menu li:hover {
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s;
}

.item-1 {
    text-decoration: none;
    color: rgb(115, 238, 115);
    padding-left: 110px;
}

.item-2 {
    text-decoration: none;
    color: rgb(115, 238, 115);
    padding-left: 110px;
}

.item-3 {
    text-decoration: none;
    color: rgb(115, 238, 115);
    padding-left: 110px;
}

.item-4 {
    text-decoration: none;
    color: rgb(115, 238, 115);
    padding-left: 110px;
}

.item-5 {
    color: red;
    text-decoration: none;
    padding-left: 110px;
}

.music {
    color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    font-size: 45px;
}

.img-red {
    text-align: center;
}

.song-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*########################################################### concerts ########################################################*/

.song-name {
    text-align: center;
}

.concert-1 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-2 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-3 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-4 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-5 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-6 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-7 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-8 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-9 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-10 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-11 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-12 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-13 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-14 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-15 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-16 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-17 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-18 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-19 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}


.concert-20 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-21 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-22 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-23 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-24 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-25 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-26 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

.concert-27 {
    border-top: 1px solid rgb(31, 31, 31);
    border-bottom: 1px solid rgb(31, 31, 31);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.concert-date {
    position: relative;
    top: 10px;
    color: #FFFFFF;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
}

.concert-country {
    color: #FFFFFF;
    padding-left: 15px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}

.concert-country:hover {
    text-decoration: underline;
}

.concert-location {
    padding-left: 75px;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.concert-location:hover {
    text-decoration: underline;
}

.tickets {
    background-color: rgb(115, 238, 115);
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 13px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin-right: 40px;
}

/*########################################################### social media #########################################################*/

.social-media {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.fa-facebook {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-facebook:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-twitter {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-twitter:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-instagram {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-instagram:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-music {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-music:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

.fa-youtube {
    color: rgb(115, 238, 115);
    padding-right: 50px;
    cursor: pointer;
    font-size: 40px;
}

.fa-youtube:hover {
    transition: 0.3s;
    color: #FFFFFF;
}

/*############################################################# footer #########################################################*/

.footer {
    border-top: 1px solid rgb(51, 51, 51);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.span-1 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 40px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-1:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-2 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-2:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-3 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-3:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-4 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-4:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-5 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    padding-right: 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-5:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

.span-6 {
    color: grey;
    font-family: "Futura-Book","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.span-6:hover {
    color: #FFFFFF;
    transition: 0.3s;
}

/*############################################################# media query ####################################################*/

@media screen and (max-width: 1274px) {
    .footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .span-6 {
        padding-top: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .name-2 {
        padding-left: 380px;
        position: relative;
        top: 40px;
        right: 375px;
        display: initial;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .name {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 0px;
        top: 40px;
        padding-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .fa-facebook {
        font-size: 33px;
    }

    .fa-twitter {
        font-size: 33px;
    }

    .fa-instagram {
        font-size: 33px;
    }

    .fa-music {
        font-size: 33px;
    }

    .fa-youtube {
        font-size: 33px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        line-height: 10px;
        font-size: 10px;
        padding-left: 40px;
    }

    .span-1 {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .span-2 {
        padding-bottom: 15px;
    }

    .span-3 {
        padding-bottom: 15px;
    }

    .span-4 {
        padding-bottom: 15px;
    }

    .span-5 {
        padding-bottom: 6px;
    }

    .span-6 {
        padding-bottom: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 599px) {
    .concert-date {
        display: flex;
        justify-content: center;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .concert-country {
        display: flex;
        justify-content: center;
        margin-right: 45px;
    }

    .tickets {
        margin-right: 135px;
    }

    .social-media {
        padding-left: 70px;
    }
}